<html>
<body>

	{{#welcome}}
	<h1>Hello {{name}}</h2>
	{{/welcome}}

	<h1>Usuarios conectados</h1>
	{{#users}}
		<p>{{nombre}}</p>

	{{/users}}
	
	{{^users}}
	<p>No hay usuarios</p>
	{{/users}}

	<br>
	<a href="/newUser">Nuevo usuario</a>
		<a href="/logIn">Login</a>
</body>
</html>