{{>Header}}

	
	
	<header>
		<h1> ------------ </h1>
		<h1><font face="felix titling"> A Fantasy About History </font></h1>
		<h4><center> --- </center></h4>
	</header>
	
	<section>
		<p><center>
			<h3> Bienvenido a tu Fantasy sobre personajes históricos </h3>
		</center></p>
	</section>
	
	<section>
		<p><center>
			<a href="/login"> <button class="button button1"> Iniciar Sesión </button></a>
		</center></p>
	</section>
	
	<section>
		<p><center>
			<a href="/newUsuario"><button class="button button2"> Crear una cuenta </button></a>
		</center></p>
	</section>
	
{{>Footer}}