{{>Header}}

	<header>
		<h1> Última Batalla </h1>
	</header>
	
	<section>
		<p><center>
			<h4> Puntos conseguidos en la última batalla. </h4>
			
			<h3> Última Batalla: Cultural </h3>
		</center></p>
		
		<table border="1" align="center" cellspacing="0" cellpadding="10">
		  	<tr>
		    	<th>Posicion</th>
		    	<th>Usuario</th>
		    	<th>Puntos</th>
		    	<th>Valor Militar Total</th>
		    	<th>Valor Diplomático Total</th>
		    	<th>Valor Cultural Total</th>
		  	</tr>
		  	<tr>
		    	<td>1</td>
		    	<td>Maria Anders</td>
		    	<td>0</td>
		    	<td>600</td>
		    	<td>600</td>
		    	<td>600</td>
		  	</tr>
		  	<tr>
		    	<td>2</td>
		    	<td>Francisco Chang</td>
		    	<td>0</td>
		    	<td>600</td>
		    	<td>600</td>
		    	<td>600</td>
		  	</tr>
		  	<tr>
		    	<td>3</td>
		    	<td>Francisco Jose</td>
		    	<td>0</td>
		    	<td>600</td>
		    	<td>600</td>
		    	<td>600</td>
		  	</tr>
		</table>
	</section>
	
	<footer>
		<p><center>
			<a href="/menuPrincipal"><button class="button button1"> Atrás </button></a>
		</center></p>
	</footer>
	
{{>Footer}}