{{>Header}}

	<h2 class ="error">Datos erróneos o usuario baneado </h2>
	<h2 class ="error">Disculpe las molestias </h2>
		<p><center>
			<a href="/"><button class="button button1"> Inicio </button></a>
		</center></p>


{{>Footer}}