{{>Header}}

	<h2 color ="red">Debes iniciar sesión o crear una nueva cuenta para acceder </h2>

		<p><center>
			<a href="/"><button class="button button1"> Inicio </button></a>
		</center></p>


{{>Footer}}