<header>
	<h1> ------------ </h1>
	<h1><font face="felix titling"> A Fantasy About History </font></h1>
			
	<h4><font face="felix titling"> &nbsp;&nbsp;&nbsp;&nbsp;Usuario conectado: {{name}}</font></h4>
	<h4><font face="felix titling"> &nbsp;&nbsp;&nbsp;&nbsp;Puntos: {{puntos}}</font></h4>
	<h4><font face="felix titling"> &nbsp;&nbsp;&nbsp;&nbsp;Dinero: {{dinero}}</font></h4>
	<h4><center> --- </center></h4>
</header>
		
<aside class="menu">
  	<div id="nav">
  		<ul>
    		<p><a href="/menuPrincipal"><font face="felix titling">INICIO</font></a></p>
    		<p><a href="/formacion"><font face="felix titling">FORMACION</font></a></p>
    		<p><a href="/mercado"><font face="felix titling">MERCADO</font></a></p>
    		<p><a href="/clasificacion"><font face="felix titling">CLASIFICACION</font></a></p>
    		<p><a href="/newPersonaje"><font face="felix titling">CREAR PERSONAJE</font></a></p>
    		<p><a href="/"><font face="felix titling">CERRAR SESION</font></a></p>
  		</ul>
  	</div>
</aside>