<header>
	<h1> ------------ </h1>
	<h1> A Fantasy About History </h1>
			
	<h4> Usuario conectado: {{name}}</h4>
	<h4> Puntos: {{puntos}}</h4>
	<h4> Dinero: {{dinero}}</h4>
	<h4><center> --- </center></h4>
</header>
		
<aside class="menu">
  	<div id="nav">
  		<ul>
    		<p><a href="/menuPrincipal">INICIO</a></p>
    		<p><a href="/formacion">FORMACION</a></p>
    		<p><a href="/mercado">MERCADO</a></p>
    		<p><a href="/clasificacion">CLASIFICACION</a></p>
    		<p><a href="/newPersonaje">CREAR PERSONAJE</a></p>
    		<p><a href="/">CERRAR SESION</a></p>
  		</ul>
  	</div>
</aside>