{{>Header}}

{{>FijoApp}}

	<section>
		<h2> FORMACION </h2>
	</section>
	
	<section>
		<p><center>
			<h4> Bienvenido a tu fantasy sobre personajes históricos </h4>
		</center></p>
		
		<table border="1" align="center" cellspacing="0" cellpadding="10">
		  	<tr>
		    	<th>Nombre</th>
		    	<th>Rango</th>
		    	<th>Tipo</th>
		    	<th>Valor Militar</th>
		    	<th>Valor Diplomático</th>
		    	<th>Valor Cultural</th>
		    	<th>Vender</th>
		    	<th>Puntos</th>
		    	
		  	</tr>
		  	
		  	
		  	
		  	
		  	{{#personajes}}
		  	
		  	<tr>
		    	<th>{{nombre}}</th>
		    	<th>{{rango}}</th>
		    	<th>{{tipo}}</th>
		    	<th>{{vMilitar}}</th>
		    	<th>{{vDiplomatico}}</th>
		    	<th>{{vCultural}}</th>
		    	<th>{{precio}}</th>
		    	<form action = "/venderPersonaje/{{id}}" method= "post" >
		    		<td><input type='submit' value= 'Vender'/></td>
		    	</form>
		    	<td></td>
		    	
		  	</tr>
		  	{{/personajes}}
		  	
		  	
		</table>
	</section>
	

	
	
	
	<footer>
		<p><center>
			<a href="/menuPrincipal"><button class="button button1"> Atrás </button></a>
		</center></p>
	</footer>
	
{{>Footer}}