{{>Header}}

	<header>
		<h1> Formacion </h1>
	</header>
	
	<section>
		<p><center>
			<h4> Bienvenido a tu fantasy sobre personajes históricos </h4>
		</center></p>
		
		<table border="1" align="center" cellspacing="0" cellpadding="10">
		  	<tr>
		    	<th>Nombre</th>
		    	<th>Rango</th>
		    	<th>Tipo</th>
		    	<th>Valor Militar</th>
		    	<th>Valor Diplomático</th>
		    	<th>Valor Cultural</th>
		    	<th>Vender</th>
		    	<th>Puntos</th>
		  	</tr>
		  	<tr>
		    	<td>Alfreds Futterkiste</td>
		    	<td>Maria Anders</td>
		    	<td>Germany</td>
		    	<td>Alfreds Futterkiste</td>
		    	<td>Maria Anders</td>
		    	<td>Germany</td>
		    	<td><button>Vender</button></td>
		    	<td></td>
		  	</tr>
		  	<tr>
		    	<td>Centro comercial Moctezuma</td>
		    	<td>Francisco Chang</td>
		    	<td>Mexico</td>
		    	<td>Alfreds Futterkiste</td>
		    	<td>Maria Anders</td>
		    	<td>Germany</td>
		    	<td><button>Vender</button></td>
		    	<td></td>
		  	</tr>
		  	<tr>
		    	<td>Alfreds Futterkiste</td>
		    	<td>Maria Anders</td>
		    	<td>Germany</td>
		    	<td>Alfreds Futterkiste</td>
		    	<td>Maria Anders</td>
		    	<td>Germany</td>
		    	<td><button>Vender</button></td>
		    	<td></td>
		  	</tr>
		  	<tr>
		    	<td>Centro comercial Moctezuma</td>
		    	<td>Francisco Chang</td>
		    	<td>Mexico</td>
		    	<td>Alfreds Futterkiste</td>
		    	<td>Maria Anders</td>
		    	<td>Germany</td>
		    	<td><button>Vender</button></td>
		    	<td></td>
		  	</tr>
		  	<tr>
		    	<td>Alfreds Futterkiste</td>
		    	<td>Maria Anders</td>
		    	<td>Germany</td>
		    	<td>Alfreds Futterkiste</td>
		    	<td>Maria Anders</td>
		    	<td>Germany</td>
		    	<td><button>Vender</button></td>
		    	<td></td>
		  	</tr>
		  	<tr>
		    	<td>Centro comercial Moctezuma</td>
		    	<td>Francisco Chang</td>
		    	<td>Mexico</td>
		    	<td>Alfreds Futterkiste</td>
		    	<td>Maria Anders</td>
		    	<td>Germany</td>
		    	<td><button>Vender</button></td>
		    	<td></td>
		  	</tr>
		</table>
	</section>
	
	<section>
		<p><center>
			Poder Militar
		</center></p>
		
		<p><center>
			<select name="mili1" id="mili1">
	  			<option value="1">Nombre 1</option>
	  			<option value="2">Nombre 2</option>
	  			<option value="3">Nombre 3</option>
	  			<option value="4">Nombre 4</option>
	  			<option value="5">Nombre 5</option>
	  			<option value="6">Nombre 6</option>
			</select>
			
			<select name="mili2" id="mili2">
	  			<option value="1">Nombre 1</option>
	  			<option value="2">Nombre 2</option>
	  			<option value="3">Nombre 3</option>
	  			<option value="4">Nombre 4</option>
	  			<option value="5">Nombre 5</option>
	  			<option value="6">Nombre 6</option>
			</select>
		</center></p>
		
		<p><center>
			Poder Diplomático
		</center></p>
		
		<p><center>
			<select name="diplo1" id="diplo1">
	  			<option value="1">Nombre 1</option>
	  			<option value="2">Nombre 2</option>
	  			<option value="3">Nombre 3</option>
	  			<option value="4">Nombre 4</option>
	  			<option value="5">Nombre 5</option>
	  			<option value="6">Nombre 6</option>
			</select>
			
			<select name="diplo2" id="diplo2">
	  			<option value="1">Nombre 1</option>
	  			<option value="2">Nombre 2</option>
	  			<option value="3">Nombre 3</option>
	  			<option value="4">Nombre 4</option>
	  			<option value="5">Nombre 5</option>
	  			<option value="6">Nombre 6</option>
			</select>
		</center></p>
		
		<p><center>
			Poder Cultural
		</center></p>
		
		<p><center>
			<select name="cult1" id="cult1">
	  			<option value="1">Nombre 1</option>
	  			<option value="2">Nombre 2</option>
	  			<option value="3">Nombre 3</option>
	  			<option value="4">Nombre 4</option>
	  			<option value="5">Nombre 5</option>
	  			<option value="6">Nombre 6</option>
			</select>
			
			<select name="cult2" id="cult2">
	  			<option value="1">Nombre 1</option>
	  			<option value="2">Nombre 2</option>
	  			<option value="3">Nombre 3</option>
	  			<option value="4">Nombre 4</option>
	  			<option value="5">Nombre 5</option>
	  			<option value="6">Nombre 6</option>
			</select>
		</center></p>
		
	</secction>
	
	
	
	<footer>
		<p><center>
			<a href="/menuPrincipal"><button class="button button1"> Atrás </button></a>
		</center></p>
	</footer>
	
{{>Footer}}