<html>
	<head>
		<meta charset= "UTF-8">
		
		<style type="text/css">
		
		body { 
			background-image: url('images/background.jpg');
			background-size: 100%;
			background-repeat: no-repeat;
		}
		
		.full {
  			background-image: url('images/background.jpg');
  			background-size: 100%;
			background-repeat: no-repeat;
		}
		
		#nav {
			float: left;
			background-color: #a8885f;
			height: 725px;
			width: 250px;
		}
		
		header {
			background-color: black;
		}
		
	 	h1 { 
	 		text-align: center;
	 		color: white;
	 	}
	 	
	 	h2 { text-align: center;}
	 	h3 { text-align: center;}
	 	
	 	h4 {
	 		text-align: left;
	 		color: white;
	 	}
	 	
	 	h5 { color: #FF5733;}
	 	.verde { color: #72BC75; }
	 	
		.button {
  		border: none;
  		float : center
  		color: white;
  		padding: 16px 32px;
  		text-align: center;
  		text-decoration: none;
  		display: inline-block;
  		font-size: 16px;
  		margin: 4px 2px;
  		transition-duration: 0.4s;
  		cursor: pointer;
		}

		.button1 {
		  background-color: white; 
		  color: black; 
		  border: 2px solid #4CAF50;
		}
		
		.button1:hover {
		  background-color: #4CAF50;
		  color: white;
		}
		
		.button2 {
		  background-color: white; 
		  color: black; 
		  border: 2px solid #008CBA;
		}
		
		.button2:hover {
		  background-color: #008CBA;
		  color: white;
		}
		
		</style>
	</head>
<body>