{{>Header}}

	<header>
		<h1> A Fantasy About History </h1>
	</header>
	
	<section>
		<h6> Bienvenido a tu fantasy sobre personajes históricos </h6>
	</section>
	
	<section>
		<button action="/Login> Iniciar Sesión </button>
		<button action="/nuevoUsuario> Crear una cuenta </button>
	</section>

{{>Footer}}