{{>Header}}

	<h1> A Fantasy About History </h1>
	<h6> Bienvenido a tu fantasy sobre personajes históricos </h6>
	
	<form action = "/login" method= "get" enctype="multipart/form-data">	
		
	</form>
	
	<form action = "/nuevoUsuario" method= "get" enctype="multipart/form-data">	
		
	</form>

{{>Footer}}