{{>Header}}

	<h2> ------------ </h2>
	<h2> ----------------------------- </h2>
	<h2 color ="black">Iniciar Sesión</h2>
	<h2> ----------------------------- </h2>
	<h2> ------------ </h2>
	
	{{#errorUsuario}}
		<h5><center> Datos incorrectos</center></h5>
	{{/errorUsuario}}
	
	{{#errorContra}}
		<h5><center> Contraseña incorrecta</center></h5>
	{{/errorContra}}
	
	{{#datosInsuficientes}}
		<h5><center> Datos insuficientes</center></h5>
	{{/datosInsuficientes}}
	{{#hasSidoBaneado}}
		<h5><center> Tu cuenta está baneada</center></h5>
	{{/hasSidoBaneado}}
	
	
	<form name= "f" action = "/login" method= "post" >
		
        <p><center> Nombre de usuario </center></p>
        
        <p><center>
  			<input type= 'text' name= 'nombre'/>
        </center></p>
  		
        <p><center> Contraseña </center></p>
      	
        <p><center>
		    <input type= 'password' name= 'contrasena'/>
        </center></p>
      
        <p><center>
	  		<input type='submit' value= 'Iniciar Sesión'/>
        </center></p>
	</form>
	
	<footer>
		<p><center>
			<a href="/"><button class="button button1"> Atrás </button></a>
		</center></p>
	</footer>

{{>Footer}}