
<html>
	<head>
		<meta charset= "UTF-8">
	</head>
	<body>
		<header>
			<h1> A Fantasy About History </h1>
			
			<h5> Logged as: </h5>
		</header>
		
		<section>
			<h3> Próxima Batalla: </h3>
		</section>
		
		<section>
			<button action="/Formacion> Formación </button>
		</section>
		
		<section>
			<button action="/Mercado> Mercado </button>
		</section>
		
		<section>
			<button action="/Clasificacion> Clasificación </button>
		</section>
	
		<footer>
			<button action="/Cerrar> Cerrar Sesión </button>
		</footer>
	</body>
</html>
