{{>Header}}

{{>FijoApp}}
		
	<section>
		<h3> Próxima Batalla: </h3>
	</section>
		
	<section>
		<p><center>
			<a href="/formacion"><button class="button button2"> Formación </button>
		</center></p>
	</section>
		
	<section>
		<p><center>
			<a href="/mercado"><button class="button button2"> Mercado </button>
		</center></p>
	</section>
		
	<section>
		<p><center>
			<a href="/clasificacion"><button class="button button2"> Clasificación </button></a>
		</center></p>
	</section>
	
	<section>
		<p><center>
			<a href="/newPersonaje"><button class="button button2"> Crear Personajes </button></a>
		</center></p>
	</section>
	
	<footer>
		<p><center>
			<a href="/"><button class="button button1"> Cerrar Sesión </button></a>
		</center></p>
	</footer>

{{>Footer}}