{{>Header}}

	<header>
		<h1> A Fantasy About History </h1>
		
		<h5> Logged as: </h5>
	</header>
	
	<section>
		<h3> Próxima Batalla: </h3>
	</section>
	
	<section>
		<button action="/Login> Formación </button>
	</section>
	
	<section>
		<button action="/nuevoUsuario> Mercado </button>
	</section>
	
	<section>
		<button action="/nuevoUsuario> Clasificación </button>
	</section>
	
	<footer>
		<button action="/Login> Cerrar Sesión </button>
	</footer>

{{>Footer}}
