{{>Header}}

{{>FijoApp}}

	<section>
		<h2> MERCADO </h2>
	</section>
	
	<section>
		<p><center>
			<h4> Puja a los personajes que quieras para tu equipo. ¿Que pasa si superas el limite de jugadores? </h4>
		</center></p>
		
		<table border="1" align="center" cellspacing="0" cellpadding="10">
		  	<tr>
		    	<th>Nombre</th>
		    	<th>Rango</th>
		    	<th>Tipo</th>
		    	<th>Valor Militar</th>
		    	<th>Valor Diplomático</th>
		    	<th>Valor Cultural</th>
		    	<th>Precio</th>
		    	<th>Pujar</th>
		    	<th>Estado</th>
		  	</tr>
		  	{{#mercado}}
		  	<tr>
		    	<td>{{nombre}}</td>
		    	<td>{{rango}}</td>
		    	<td>{{tipo}}</td>
		    	<td>{{vMilitar}}</td>
		    	<td>{{vDiplomatico}}</td>
		    	<td>{{vCultural}}</td>
		    	<td>{{precio}}</td>
		    	<td><button>Pujar</button></td>
		    	<td>No pujado</td>
		  	</tr>
		  	{{/mercado}}
		  	
		</table>
	</section>
	
	<footer>
		<p><center>
			<a href="/menuPrincipal"><button class="button button1"> Atrás </button></a>
		</center></p>
	</footer>
	
{{>Footer}}