{{>Header}}

	<header>
		<h1> Mercado </h1>
	</header>
	
	<section>
		<p><center>
			<h4> Bienvenido a tu fantasy sobre personajes históricos </h4>
		</center></p>
	</section>
	
	<footer>
		<p><center>
			<a href="/menuPrincipal"><button class="button button1"> Atrás </button></a>
		</center></p>
	</footer>
	
{{>Footer}}