{{>Header}}

{{>FijoApp}}

	<section>
		<h2> MERCADO </h2>
	</section>
	
	<section>
		<p><center>
			<h3> Puja a los personajes que quieras para tu equipo. Si ya tienes 6 personajes en tu Formación, recuerda que no ganarás las pujas </h3>
		</center></p>
		{{#errorPuja}}
			<h5><center>La puja no ha podido realizarse </center></h5>
		{{/errorPuja}}
		
		{{#pujaRealizada}}
			<h5 class= "verde"><center> Puja realizada con éxito </center></h5>
		{{/pujaRealizada}}
		<table border="1" align="center" cellspacing="0" cellpadding="10">
		  	<tr>
		    	<th>Nombre</th>
		    	<th>Rango</th>
		    	<th>Tipo</th>
		    	<th>Valor Militar</th>
		    	<th>Valor Diplomático</th>
		    	<th>Valor Cultural</th>
		    	<th>Precio</th>
		    	<th>Pujar</th>
		  	</tr>
		  	{{#mercado}}
		  	<tr>
		    	<td>{{nombre}}</td>
		    	<td>{{rango}}</td>
		    	<td>{{tipo}}</td>
		    	<td>{{vMilitar}}</td>
		    	<td>{{vDiplomatico}}</td>
		    	<td>{{vCultural}}</td>
		    	<td>{{precio}}</td>
		    	<form action = "/pujarPersonaje/{{id}}" method= "post">
		    		<td><input type='submit' value= 'Pujar'/>
		    			<input type= 'number' name= 'valor' min= '1' max= '999999' value='0'/>
		    		</td>
		    	</form>
		  	</tr>
		  	{{/mercado}}
		  	
		</table>
	</section>
	
	<footer>
		<p><center>
			<a href="/menuPrincipal"><button class="button button1"> Atrás </button></a>
		</center></p>
	</footer>
	
{{>Footer}}