{{>Header}}

{{>FijoApp}}

	<section>
		<h2> NUEVOS PERSONAJES </h2>
		
		<h3> Añade la siguiente información para crear un personaje </h3>
	</section>
		
	<form action = "/newPersonaje" method= "post" enctype="multipart/form-data">
		<input type="hidden" name="_csrf" value="{{token}}"/>
        <p><center> Nombre del personaje </center></p>
        
        <p><center>
  			<input type= 'text' name= 'nombre' value='Catalina de Aragón'/>
        </center></p>
  		
        <p><center> Rango </center></p>
      	
        <p><center>
		    <input type= 'number' name= 'rango' min= '1' max= '5' value='0'/>
        </center></p>
        
        <p><center> Tipo </center></p>
      	
		
		<p><center>
		    <label for="tipo">Tipo de personaje:</label>
			
			<select id="tipo" name="tipo">
  				<option value="MILITAR">Militar</option>
  				<option value="DIPLOMATICO">Diplomatico</option>
  				<option value="CULTURAL">Cultural</option>
			</select>
        </center></p>
        
        <p><center> Valor Militar </center></p>
      	
        <p><center>
		    <input type= 'number' name= 'vMilitar' min= '1' max= '999' value='0'/>
        </center></p>
        
        <p><center> Valor Diplomático </center></p>
      	
        <p><center>
		    <input type= 'number' name= 'vDiplo' min= '1' max= '999' value='0'/>
        </center></p>
        
        <p><center> Valor Cultural </center></p>
      	
        <p><center>
		    <input type= 'number' name= 'vCultu' min= '1' max= '999' value='0'/>
        </center></p>
        
        <p><center> Precio </center></p>
      	
        <p><center>
		    <input type= 'number' name= 'precio' min= '1' max= '999999' value='0'/>
        </center></p>
        
		
      
        <p><center>
	  		<input type='submit' value= 'Crear Personaje'/>
        </center></p>
	</form>
	
	<footer>
		<p><center>
			<a href="/menuPrincipal"><button class="button button1"> Atrás </button></a>
		</center></p>
	</footer>

{{>Footer}}